*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    opacity: 0.9;
}
a{
    text-decoration: none;
    color: black;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;